<template>
<div class="text">
    <!--<textarea placeholder="Ctrl + Enter" v-model="content" @keyup="onKeyup"></textarea>-->
    <textarea placeholder="Ctrl + Enter" v-model="content" @keyup.enter="onKeyup"></textarea>
</div>
</template>

<script>
    import { actions } from '../store';

    export default {
        vuex: {
            actions: actions
        },
        data () {
            return {
                content: ''
            };
        },
        methods: {
            onKeyup (e) {
                if (e.ctrlKey && e.keyCode === 13 && this.content.length) {
                    this.sendMessage(this.content);
                    this.content = '';
                }
            }
        }
    };
</script>

<style lang="less" scoped>
.text {
    height: 160px;
    border-top: solid 1px #ddd;

    textarea {
        padding: 10px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        font-family: "Micrsofot Yahei";
        resize: none;
    }
}
</style>