<script>
import { actions } from './store';

import Card from 'components/card';
import List from 'components/list';
import Text from 'components/text';
import Message from 'components/message';

export default {
    data: {
        interval:null
    },
    components: { Card, List, Text, Message },
    vuex: {
        actions: actions
    },
    created () {
        this.initData();
        this.interval = setInterval(()=>{
            this.initData();
        }, 10000)
    }
}
</script>

<template>
<div class="sidebar-top"></div>
<div class="sidebar-left">
    <div style="margin-left:5%">
        <strong>
        <h3 style="color: #EAEADE"><span>SPECT</span><span style="color: #38383A">RE</span></h3>
    </strong>
    <div style="margin-top:40px"></div>
    <ul>
        <h6><li>MAIN</li></h6>
        <div style="margin-top:15px"></div>
        <ul>
            <li>Customers</li>
            <div style="margin-top:10px"></div>
            <li style="background: #0084FF; padding: 5%">My Chats</li>
            <div style="margin-top:10px"></div>
            <li>Agents</li>
        </ul>
        <div style="margin-top:30px"></div>
        <h6><li>HELP</li></h6>
        <div style="margin-top:15px"></div>
        <ul>
            <li>Settings</li>
            <div style="margin-top:10px"></div>
            <li>Report</li>
        </ul>
    </ul>
    </div>
</div>
<div id="app">
    <h4><strong>MY CHATS</strong></h4>
    <div class="sidebar">
        <card></card>
        <list></list>
    </div>
    <div class="main">
        <message></message>
        <text></text>
    </div>
</div>
</template>

<style lang="less" scoped>
.sidebar-top {
    float: left;
    width: 100%;
    height: 6%;
    color: grey;
    /*background: linear-gradient(grey, black);*/
    background-color: #FFFFFF;
    border-bottom: solid 1px #E4E3DF;
}
.sidebar-left {
    float: left;
    width: 17%;
    height: 100%;
    color: white;
    background: linear-gradient(#8C8C8C, #2B2B2B);
    /*background-color: blue;*/
}
#app {
    margin-left: 20%;
    margin-top: 5%;
    width: 800px;
    height: 500px;

    overflow: hidden;
    border-radius: 3px;
    .sidebar, .main {
        height: 100%;
    }
    .sidebar {
        float: left;
        width: 250px;
        color: #f4f4f4;
        /*background: linear-gradient(grey, black);*/
        background-color: #4E4E4E;
    }
    .main {
        position: relative;
        overflow: hidden;
        background-color: #eee;
    }
    .text {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .message {
        height: ~'calc(100% - 160px)';
    }
}
</style>
